{% extends 'base.html' %}

{% block content %}
    <div class="container pt-5">
        <div>
            {% for cur in currens %}
                <p> {{ cur.Cur_Scale }} {{ cur.Cur_Name}} = {{ cur.Cur_OfficialRate }} BYN  {{ cur.date}}</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
