{% extends 'base.html' %}

{% block content %}
<!--    <marquee height="40px" scrollamount="1" behavior="scroll" loop="infinite" bgcolor="white" vspace="6">-->
<!--    <p style="color: black; font-style: oblique;" >-->
<!--        <img height="40" width="40" src="/media/photos/virus.jpg">Количество зараженных: {{stat.get_infected}} человек-->
<!--        <img height="40" width="40" src="/media/photos/death.jpg">Смертельные случаи: {{stat.get_deaths}} человек-->
<!--        <img height="40" width="40" src="/media/photos/recovered.jpg">Выздоровевшие: {{stat.get_recovered}} человек-->
<!--        <img height="40" width="40" src="/media/photos/sick.jpg">Сейчас болеют: {{stat.get_sick_now}} человек-->
<!--        <img height="40" width="40" src="/media/photos/test.jpg">Сделано тестов: {{stat.get_tests_done}} штук</p>-->
<!--    </marquee>-->
    <div class="container pt-5">
        <div>
            {% for cat in categories %}
                <div>
                    <div>
                        <h3><a href="news/{{ cat.slug }}">{{ cat.title }}</a></h3>
                    </div>
                    <div class="col-md-12 category_news">
                                            {% for post in posts %}
                                                {% if post.category_id == cat.id %}
                                                <div class="col-md-4">
                                                <div class="cards">
                                                    <div class="row no-gutters flex-md-row mb-4 shadow-sm h-md-250"
                                                         style="background-image: url('{{ post.picture.avatar.url }}');background-size:cover">
                                                        <div class="col p-4 d-flex news_block">
                                                            <a class="news_items" href="{% url 'detail' post.slug %} ">
                                                                <h3 class="my-1">{{ post.title }}</h3></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                    </div>
                        {% for cur in currens %}
                        <p> {{ cur.Cur_Name}} = {{ cur.Cur_OfficialRate }} </p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>


        {#        {% for car in five_auto %}#}
        {#            <a href="{% url 'auto' %}">{{ car }}</a>#}
        {#        {% endfor %}#}

        {#            {% for cat in categories %}#}
        {#                <div class="row mb-2 posts">#}
        {#                <h3 class="my-1"><a href="news/post/{{ cat.slug }}" >{{ cat.title }}</a></h3>#}
        {#                {% for post in posts %}#}
        {##}
        {#                <div class="col-md-6">#}
        {#                    <div class="cards">#}
        {#                        <div class="row no-gutters flex-md-row mb-4 shadow-sm h-md-250"#}
        {#                             style="background-image: url('{{ post.picture.avatar.url }}');background-size:cover">#}
        {#                            <div class="col p-4 d-flex news_block">#}
        {#                                <a class="news_items" href="{% url 'detail' post.slug %} ">#}
        {#                                    <h3 class="my-1">{{ post.title }}</h3></a>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                </div>#}
        {#                {% endfor %}#}
        {##}
        {#            {% endfor %}#}
        {#        </div>#}
        {#        <div>#}
        {#        </div>#}

    </div>
{% endblock content %}
