{% extends 'base.html' %}


{% block content %}
<div>
    <a class="btn btn-default" href="{% url 'ab:auto' %}" style="border: 1px solid black; box-sizing: border-box;">Автомобили</a>
    <a class="btn btn-default" href="{% url 'ab:moto' %}" style="border: 1px solid black; box-sizing: border-box;">Мотоциклы</a>
    <a class="btn btn-default" href="{% url 'ab:new_ad' %}" style="border: 1px solid black; box-sizing: border-box;">Разместить
        объявление</a>
    {% if user.is_authenticated %}
    {% if not queryset %}
    <a class="btn btn-default" href="{% url 'ab:auto_bookmark' pk=car.pk %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-star"
             viewBox="0 0 16 16">
            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
        </svg>
    </a>
    {% else %}
    <a class="btn btn-default" href="{% url 'ab:auto_bookmark' pk=car.pk %}">

        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-star-fill"
             viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
        </svg>
    </a>
    {% endif%}
    <a class="btn btn-default" href="{% url 'ab:all_rew_about_this_car' pk=car.pk %}"
       style="border: 1px solid black; box-sizing: border-box;">Отзывы об этом авто</a>
    {% endif %}
</div>
<a class="btn btn-danger" href="{% url 'ab:delete_auto' pk=car.pk %}">Delete</a>
<a class="btn btn-success" href="{% url 'ab:auto_share' pk=car.pk %}">Поделиться</a>


<img style="height: 400px; width: 600px" src="{{ car.pictures.url }}" alt=""/>
<h1>Brand: {{car.brand}}</h1>
<h1>Model: {{car.model}}</h1>
<h1>Transmission: {{car.transmission}}</h1>
<h1>Drive unit: {{car.drive_unit}}</h1>
<h1>Type of fuel: {{car.type_of_fuel}}</h1>
<h1>Type of body: {{car.type_of_body}}</h1>
<h1>Year: {{car.year}}</h1>
<h1>Location: {{car.location}}</h1>
<h1>Mileage: {{car.mileage}}</h1>
<h1>Price: {{car.price}}</h1>
<h1>Description: {{car.description}}</h1>
<div>
    <a class="btn btn-light" href="{% url 'ab:auto_create_review' pk=car.pk %}">Оставить отзыв:
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-award"
             viewBox="0 0 16 16">
            <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
        </svg>
    </a>
</div>

</div>
{% endblock %}