{% extends 'base.html' %}


{% block content %}
<div>
    <a class="btn btn-default" href="{% url 'ab:auto_filters' %}"
       style="border: 1px solid black; box-sizing: border-box;">Фильтры</a>
    <a class="btn btn-default" href="{% url 'ab:auto' %}" style="border: 1px solid black; box-sizing: border-box;">Автомобили</a>
    <a class="btn btn-default" href="{% url 'ab:moto' %}" style="border: 1px solid black; box-sizing: border-box;">Мотоциклы</a>
    <a class="btn btn-default" href="{% url 'ab:reviews' %}" style="border: 1px solid black; box-sizing: border-box;">Отзывы
        об авто</a>
    <a class="btn btn-default" href="#" style="border: 1px solid black; box-sizing: border-box;">Мои авто</a>
    <a class="btn btn-default" href="{% url 'ab:a_bookmarks' %}"
       style="border: 1px solid black; box-sizing: border-box;">Закладки</a>
    <a class="btn btn-default" href="{% url 'ab:new_ad' %}" style="border: 1px solid black; box-sizing: border-box;">Разместить
        объявление</a>
    <a href="{% url 'ab:auto_search' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search"
             viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
    </a>
</div>
<div>
    <h1>Автобарахолка</h1>
    <div class="auto_full">
    {% for car in cars %}
            <div class="col-md-6">


    <img style="height: 400px; width: 600px" src="{{ car.pictures.url }}" alt=""/>
    <h1>Brand: {{car.brand}}</h1>
    <h1>Model: {{car.model}}</h1>
    <h1>Transmission: {{car.transmission}}</h1>
    <h1>Drive unit: {{car.drive_unit}}</h1>
    <h1>Type of fuel: {{car.type_of_fuel}}</h1>
    <h1>Type of body: {{car.type_of_body}}</h1>
    <h1>Year: {{car.year}}</h1>
    <h1>Location: {{car.location}}</h1>
    <a class="btn btn-warning btn-block" href="{% url 'ab:auto_details' pk=car.pk %}">Show more</a>
             </div>
    {% empty %}
    <div style="text-align: center">
        <p>Нет авто</p>
        <a href="/"><img src="/media/photos/upset.jpg" height="200px" width="200px"></a>
    </div>

    {% endfor %}
    </div>
</div>
<!--{% include "pagination.html" with page=cars %}-->
{% include "pagination.html" with page=page_obj %}

{% endblock content %}