{% extends 'base.html' %}

{% block content %}
<div>

    <a class="btn btn-default" href="{% url 'ab:auto' %}" style="border: 1px solid black; box-sizing: border-box;">Автомобили</a>
    <a class="btn btn-default" href="{% url 'ab:moto' %}" style="border: 1px solid black; box-sizing: border-box;">Мотоциклы</a>
    <a class="btn btn-default" href="#" style="border: 1px solid black; box-sizing: border-box;">Отзывы об авто</a>
    <a class="btn btn-default" href="#" style="border: 1px solid black; box-sizing: border-box;">Мои авто</a>
    <a class="btn btn-default" href="{% url 'ab:a_bookmarks'%}" style="border: 1px solid black; box-sizing: border-box;">Закладки</a>

</div>
<div>
    <h1>Разместить объявление</h1>
    <form enctype="multipart/form-data" method="POST" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Разместить</button>
    </form>
</div>
{% endblock content %}