{% extends 'base.html' %}

{% block content %}
<div>
    <a href="{% url 'ab:auto' %}" style="border: 1px solid black; box-sizing: border-box;">Автомобили</a>
    <a href="{% url 'ab:moto' %}" style="border: 1px solid black; box-sizing: border-box;">Мотоциклы</a>
    <a href="#" style="border: 1px solid black; box-sizing: border-box;">Отзывы об авто</a>
    <a href="#" style="border: 1px solid black; box-sizing: border-box;">Мои авто</a>
    <a href="#" style="border: 1px solid black; box-sizing: border-box;">Закладки</a>
    <a href="{% url 'ab:new_ad' %}" style="border: 1px solid black; box-sizing: border-box;">Разместить объявление</a>
</div>
<div>
    <h1>Разместить объявление</h1>
    <form enctype="multipart/form-data" method="POST" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Разместить</button>
    </form>
</div>
{% endblock content %}