{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
    {% if query %}
        <h1>Запросы содержащие "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
            Найдено совпадений {{ total_results }}
            {% endwith %}
        </h3>
        {% for auto in results %}
        <h4><a href="{{ auto.get_absolute_url }}">{{ auto.brand }}</a></h4>
        {{ auto.description|truncatewords_html:5 }}
        {% empty %}
        <p>Нет результатов.</p>
        {% endfor %}
        <p><a class="btn btn-primary" href="{% url 'ab:auto_search' %}">Искать снова</a></p>
        {% else %}
        <h1>Поиск автомобиля</h1>
        <form method="get">
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Поиск">
        </form>
    {% endif %}
{% endblock %}