{% extends "base.html" %}

{% block content %}
    <div>
        <div style="text-align: center">
            <h1>История заказов</h1>
        </div>
        <table>
            <tr>
                <td>Номер заказа</td>
                <td>Продукт</td>
                <td>Цена</td>
                <td>Количество</td>
                <td>Адрес</td>
                <td>Оплата</td>
            </tr>
            <tbody>
            {% for item in product %}


                <tr>
                    <td>{{ item.order_id }}</td>
                    <td>{{ item.product }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.order.address }}</td>
                    <td>{{ item.order.paid }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


