{% extends "base.html" %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}
    <h1>Благодарим за покупку</h1>
    <p>Ваш заказ был успешно выполнен. Номер вашего заказа
        <strong>{{ order.id }}</strong>.</p>
{% endblock %}