{% extends 'base.html' %}


{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div class="pt-5">
        <h3>Каталог</h3>
        <div class="coll" style="display: flex;justify-content: center;">
                <ul>
                    {% for c in categories %}
                        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                                <div class="category_item" style="text-align: center;margin: 0 auto;margin-top: 12%;">
                                    <a href="{{ c.slug }}">
                                    <div>
                                            <img style="display: block;margin: 0 auto;" src="{{ c.icon.cat_icon.url }}">
                                    </div>
                                    <div>
                                        <p style="font-size: 12px;">{{ c.name }}</p>
                                    </div>
                                    </a>
                                </div>
                        </li>

                    {% endfor %}
            </ul>
        </div>
    </div>
    <div class="sub">
        {% for c in categories %}
            <div class="sub_in_cat col-md-6">
                <a href="{{c.slug}}">{{ c.name }}</a>
                <ul>
                    {% for s in subcategorys %}
                        {% if s.category_id == c.id %}
                            <li>
                                <a href="{{c.slug}}/{{s.slug}}">{{s.name}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        {% endfor%}
                
    </div>
    {#    <div id="main" class="product-list">#}
    {#        <h1>{% if category %}{{ category.name }}{% else %}#}
    {#            Products{% endif %}</h1>#}
    {#        {% for product in products %}#}
    {#            <div class="item">#}
    {#                <a href="{{ product.get_absolute_url }}">#}
    {#                    <img src="                            {% if product.icon %}{{ product.icon.url }}{% else %}{% endif %}">#}
    {##}
    {##}
    {#                </a>#}
    {##}
    {#                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>#}
    {#                ${{ product.price }}#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    </div>#}
{% endblock %}