{% extends 'base.html' %}


{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Каталог</h3>
        <div class="coll" style="display: flex;justify-content: center;">
                <ul>
                    {% for c in categories %}
                        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                                <div class="category_item" style="text-align: center;margin: 0 auto;margin-top: 12%;">
                                    <a href="/catalog/{{ c.slug }}">
                                    <div>
                                            <img style="display: block;margin: 0 auto;" src="{{ c.icon.cat_icon.url }}">
                                    </div>
                                    <div>
                                        <p style="font-size: 12px;">{{ c.name }}</p>
                                    </div>
                                    </a>
                                </div>
                        </li>

                    {% endfor %}
            </ul>
        </div>
    </div>
    <div id="main" class="subcat-list">
        <h1>{% if category %}{{ category.name }}{% else %}
            Products{% endif %}</h1>
        {% for subcategory in subcategorys %}
            <div class="item">
                <a href="{{ subcategory.get_absolute_url }}">
                    <img src="
                            {% if subcategory.picture %}{{ subcategory.icon.icprod.url }}{% else %}{% endif %}">
                </a>
                <a href="{{ subcategory.slug}}">{{ subcategory.name }}</a><br>
            </div>
        {% endfor %}
    </div>
{% endblock %}
