{% extends 'base.html' %}


{% block content %}
<div>
    <a class="btn btn-default" href="#" style="border: 1px solid black; box-sizing: border-box;">Каталог</a>
    <a class="btn btn-default" href="#" style="border: 1px solid black; box-sizing: border-box;">Барахолка</a>
    <a class="btn btn-default" href="{% url 'ab:a_bookmarks' %}" style="border: 1px solid black; box-sizing: border-box;">Автобарахолка</a>
    <a class="btn btn-default" href="{% url 'ab:m_bookmarks' %}" style="border: 1px solid black; box-sizing: border-box;">Мотобарахолка</a>

</div>
        <h1>Закладки</h1>
        {% for car in cars %}
        <img style="height: 400px; width: 600px" src="{{ car.pictures.url }}" alt=""/>
        <h1>Model: {{car.model}}</h1>
        <h1>Transmission: {{car.transmission}}</h1>
        <h1>Drive unit: {{car.drive_unit}}</h1>
        <h1>Type of fuel: {{car.type_of_fuel}}</h1>
        <h1>Type of body: {{car.type_of_body}}</h1>
        <h1>Year: {{car.year}}</h1>
        <h1>Location: {{car.location}}</h1>
        <p><a href="{% url 'ab:auto_details' pk=car.pk %}">Show more</a></p>
        {% empty %}
        <div style="text-align: center">
            <p>У вас пока что нет закладок</p>
            <a href="/"><img src="/media/photos/upset.jpg" height="200px" width="200px"></a>
        </div>
        {% endfor %}
{% endblock content %}