{% extends 'base.html' %}


{% block content %}
<div>
    <a class="btn btn-default" href="{% url 'ab:auto_filters' %}" style="border: 1px solid black; box-sizing: border-box;">Фильтры</a>
    <a class="btn btn-default" href="{% url 'ab:auto' %}" style="border: 1px solid black; box-sizing: border-box;">Автомобили</a>
    <a class="btn btn-default" href="{% url 'ab:moto' %}" style="border: 1px solid black; box-sizing: border-box;">Мотоциклы</a>
    <a class="btn btn-default" href="{% url 'ab:reviews' %}" style="border: 1px solid black; box-sizing: border-box;">Отзывы
        об авто</a>
    <a class="btn btn-default" href="#" style="border: 1px solid black; box-sizing: border-box;">Мои авто</a>
    <a class="btn btn-default" href="{% url 'ab:a_bookmarks' %}"
       style="border: 1px solid black; box-sizing: border-box;">Закладки</a>
    <a class="btn btn-default" href="{% url 'ab:new_ad' %}" style="border: 1px solid black; box-sizing: border-box;">Разместить
        объявление</a>
</div>
<div>
    <h1>Автобарахолка</h1>
    {% for car in cars %}
    <img style="height: 400px; width: 600px" src="{{ car.pictures.url }}" alt=""/>
    <h1>Brand: {{car.brand}}</h1>
    <h1>Model: {{car.model}}</h1>
    <h1>Transmission: {{car.transmission}}</h1>
    <h1>Drive unit: {{car.drive_unit}}</h1>
    <h1>Type of fuel: {{car.type_of_fuel}}</h1>
    <h1>Type of body: {{car.type_of_body}}</h1>
    <h1>Year: {{car.year}}</h1>
    <h1>Location: {{car.location}}</h1>
    <a class="btn btn-warning"  href="{% url 'ab:auto_details' pk=car.pk %}">Show more</a>
    {% empty %}
        <div style="text-align: center">
            <p>Нет авто</p>
            <a href="/"><img src="/media/photos/upset.jpg" height="200px" width="200px"></a>
        </div>
    {% endfor %}
</div>
{% endblock content %}