{% extends 'base.html' %}

{% block content %}
<div>
    <a class="btn btn-default"  href="{% url 'ab:auto' %}" style="border: 1px solid black; box-sizing: border-box;">Автомобили</a>
    <a class="btn btn-default"  href="{% url 'ab:moto' %}" style="border: 1px solid black; box-sizing: border-box;">Мотоциклы</a>
    <a class="btn btn-default" href="{% url 'ab:new_ad' %}" style="border: 1px solid black; box-sizing: border-box;">Разместить объявление</a>
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'ab:moto_bookmark' pk=motor.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"><path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/></svg></a>
    {% endif %}
</div>

    <img style="height: 400px; width: 600px" src="{{ motor.pictures.url }}" alt=""/>
    <h1>Model: {{motor.model}}</h1>
    <h1>Engine capacity: {{motor.engine_capacity}}</h1>
    <h1>Year: {{motor.year}}</h1>
    <h1>Location: {{motor.location}}</h1>
    <h1>Price: {{motor.price}}</h1>
    <h1>Description: {{motor.description}}</h1>
    <div>
        <a class="btn btn-light" href="{% url 'ab:moto_create_review' pk=motor.pk %}">Оставить отзыв:
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-award"
                 viewBox="0 0 16 16">
                <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
            </svg>
        </a>
    </div>

{% endblock content %}    