{% extends 'base.html' %}

{% block content %}
<div>
    <a class="btn btn-default" href="{% url 'ab:moto_filters' %}" style="border: 1px solid black; box-sizing: border-box;">Фильтры</a>
    <a class="btn btn-default" href="{% url 'ab:auto' %}" style="border: 1px solid black; box-sizing: border-box;">Автомобили</a>
    <a class="btn btn-default" href="{% url 'ab:moto' %}" style="border: 1px solid black; box-sizing: border-box;">Мотоциклы</a>
    <a class="btn btn-default" href="#" style="border: 1px solid black; box-sizing: border-box;">Мои объявления</a>
    <a class="btn btn-default" href="{% url 'ab:m_bookmarks' %}" style="border: 1px solid black; box-sizing: border-box;">Закладки</a>
    <a class="btn btn-default" href="{% url 'ab:new_ad_moto' %}" style="border: 1px solid black; box-sizing: border-box;">Разместить объявление</a>

</div>
<div>
    <h1>Мотобарахолка</h1>
    {% for motor in motors %}
    <img style="height: 400px; width: 600px" src="{{ motor.pictures.url }}" alt=""/>
    <h1>Model: {{motor.model}}</h1>
    <h1>Engine capacity: {{motor.engine_capacity}}</h1>
    <h1>Year: {{motor.year}}</h1>
    <h1>Location: {{motor.location}}</h1>
    <a class="btn btn-warning" href="{% url 'ab:moto_details' pk=motor.pk %}">Show more</a>
    {% empty %}
        <div style="text-align: center">
            <p>Нет мото</p>
            <a href="/"><img src="/media/photos/upset.jpg" height="200px" width="200px"></a>
        </div>
    {% endfor %}
</div>
{% endblock content %}    