{% extends 'base.html' %}

{% block content %}
    <div class="container pt-5">
        <div class="row mb-2 posts">
            {% for post in posts %}
                <div class="col-md-6">
                    <div class="cards">
                        <div class="row no-gutters flex-md-row mb-4 shadow-sm h-md-250"
                             style="background-image: url('{{ post.picture.avatar.url }}');background-size:cover">
                            <div class="col p-4 d-flex news_block">
                                <a class="news_items" href="{% url 'detail' post.slug %} ">
                                    <h3 class="my-1">{{ post.title }}</h3></a>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}