{% extends 'base.html' %}

{% block content %}
    <div class="container pt-5">
        <div class="">
            <h2>{{ post.title }}</h2>
            <div class="mb-2 pt-5 ">
                <img style="height: 500px" src="{{ post.picture.url }}" alt=""/>
            </div>

            {% for tag in post.tags.all %}
                <a href="{% url 'tagged' tag.slug %}" class="badge badge-info">{{ tag }}</a>
            {% endfor %}
            <p>{{ post.description }}</p>
            <p>{{ post.published }}</p>
        </div>
    </div>
{% endblock content %}
